- var nameList = ['andreea', 'vinnie', 'johnny']
- var numberList = ['zero', 'doi', 'patru' ]
ul
  each name in nameList 
    li= name
ul 
  each number, key in numberList 
    li #{key * 2} in Romanian is: #{number}