.menu 
  a.menu-link(href="/extends") home 
  a.menu-link(href="/extends/aboutme.html") about me
  a.menu-link(href="/extends/original.html") original
  a.menu-link(href="/extends/portofolio.html") portofolio
  a.menu-link(href="/extends/contact.html") contact