-  
  var amount = 500
case amount
  when 0 
    p I am going to do your project when i have time 
  when 50
    p I am going to make some time and finish it this month 
  when 500 
    p I am going to do it straigt away
  default
    p let's chat a bit

